{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.namespace {:mvn/version "1.0.0"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        hickory {:mvn/version "0.7.1"}
        meta-csv {:mvn/version "0.1.0"}
        metosin/jsonista {:mvn/version "0.2.5"}
        applied-science/waqi {:git/url "https://github.com/applied-science/waqi"
                              :sha "0d627035efdd019805101e4f4c0a083867cf5c7b"}}}
