{:paths ["resources" "src"]
 :deps {applied-science/waqi {:local/root "/Users/daveliepmann/src/applied-science/waqi/"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.namespace {:mvn/version "1.0.0"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        hickory {:mvn/version "0.7.1"}
        meta-csv {:mvn/version "0.1.0"}
        metosin/jsonista {:mvn/version "0.2.5"}}}
